/* COMMON */
* {
  box-sizing: border-box;

}

body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;

  /* 테스트용 */
}



/* 영문에만 적용할 폰트 */
.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.inner {
  /* 고정 길이=고정형 */
  /* width: 1200px; */
  /* 최대값만 제한=반응형 */
  max-width: 1200px;
  margin: 0 auto;
}

.animate-flash{
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, .8);
  
  /* 고정된 헤더 만들기 */
  /* fixed가 되면 width의 기준이 부모 요소가 아니라 뷰포트가 되면서 기준이 끊겨버리고, 내용에 맞춰 최소한으로 축소됨 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
  /* 가로 너비만 지정하면 세로 높이는 비율에 맞춰 정해짐 */
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
}
header nav ul li a:hover {
  color: #9b30ff;
  /* 또는 */
  /* text-shadow: 1px 1px 5px #9b30ff; */
}
header nav ul li a {
  position: relative;
}
header nav ul li a::after {
  content: "";
  display: block;
  width: 0; /* 초기에는 밑줄이 없도록 0으로 설정 */
  height: 1px;
  background-color: #9b30ff;
  /* position: absolute;
  bottom: -2px;
  left: 0; */
  transition: 0.5s; 
}
header nav ul li a:hover::after {
  width: 100%;
}

/* VISUAL */
.visual{
  /* (중요) 
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남
    fixed 헤더 다음에 오는 요소(예: 섹션)는 헤더의 높이만큼 외부 여백 추가 필요
  */
  margin-top: 60px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.visual > .inner{
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;
}
.visual > .inner .purple {
  color:#9b30ff
}

/* 애니메이션 정의는 맨 마지막에 */
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}